<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nodecollege.cloud.dao.mapper.OperateUserOrgMapper">
  <resultMap id="BaseResultMap" type="com.nodecollege.cloud.common.model.po.OperateUserOrg">
    <!-- 主键 -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <!-- 用户id -->
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <!-- 机构代码 -->
    <result column="org_code" jdbcType="VARCHAR" property="orgCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, org_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from o_user_org
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from o_user_org
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" keyProperty="id" parameterType="com.nodecollege.cloud.common.model.po.OperateUserOrg" useGeneratedKeys="true">
    insert into o_user_org
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="orgCode != null">
        org_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="orgCode != null">
        #{orgCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2020-09-30 20:54:11 ### -->



  <!-- Your codes goes here!!! -->
  <select id="selectList" parameterType="com.nodecollege.cloud.common.model.po.OperateUserOrg" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from o_user_org
    <where>
      <if test="userId != null">
        and user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="orgCode != null and orgCode != ''">
        and org_code = #{orgCode,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>