<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nodecollege.cloud.dao.mapper.OperateAdminOrgMapper">
  <resultMap id="BaseResultMap" type="com.nodecollege.cloud.common.model.po.OperateAdminOrg">
    <!-- 主键 -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <!-- 管理员id -->
    <result column="admin_id" jdbcType="BIGINT" property="adminId" />
    <!-- 机构代码 -->
    <result column="org_code" jdbcType="VARCHAR" property="orgCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, admin_id, org_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from o_admin_org
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from o_admin_org
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" keyProperty="id" parameterType="com.nodecollege.cloud.common.model.po.OperateAdminOrg" useGeneratedKeys="true">
    insert into o_admin_org
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="orgCode != null and orgCode != ''">
        org_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=BIGINT},
      </if>
      <if test="orgCode != null and orgCode != ''">
        #{orgCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective">
    update o_admin_org
    <set>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=BIGINT},
      </if>
      <if test="orgCode != null and orgCode != ''">
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2020-09-10 20:33:51 ### -->



  <!-- Your codes goes here!!! -->
  <select id="selectList" parameterType="com.nodecollege.cloud.common.model.po.OperateAdminOrg" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from o_admin_org
    <where>
      <if test="adminId != null">
        and admin_id = #{adminId,jdbcType=BIGINT}
      </if>
      <if test="orgCode != null and orgCode != ''">
        and org_code = #{orgCode,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>