<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nodecollege.cloud.dao.mapper.OperateUiPageMapper">
  <resultMap id="BaseResultMap" type="com.nodecollege.cloud.common.model.po.OperateUiPage">
    <!-- 前端菜单页面主键 -->
    <id column="ui_page_id" jdbcType="BIGINT" property="uiPageId" />
    <!-- 前端代码 -->
    <result column="ui_code" jdbcType="VARCHAR" property="uiCode" />
    <!-- 页面名称 -->
    <result column="page_name" jdbcType="VARCHAR" property="pageName" />
    <!-- 页面代码 -->
    <result column="page_code" jdbcType="VARCHAR" property="pageCode" />
    <!-- 页面路径 -->
    <result column="page_path" jdbcType="VARCHAR" property="pagePath" />
    <!-- 页面图标 -->
    <result column="page_icon" jdbcType="VARCHAR" property="pageIcon" />
    <!-- 页面排序号 -->
    <result column="num" jdbcType="INTEGER" property="num" />
  </resultMap>
  <sql id="Base_Column_List">
    ui_page_id, ui_code, page_name, page_code, page_path, page_icon, num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from o_ui_page
    where ui_page_id = #{uiPageId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from o_ui_page
    where ui_page_id = #{uiPageId,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" keyProperty="uiPageId" parameterType="com.nodecollege.cloud.common.model.po.OperateUiPage" useGeneratedKeys="true">
    insert into o_ui_page
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uiPageId != null">
        ui_page_id,
      </if>
      <if test="uiCode != null">
        ui_code,
      </if>
      <if test="pageName != null">
        page_name,
      </if>
      <if test="pageCode != null">
        page_code,
      </if>
      <if test="pagePath != null">
        page_path,
      </if>
      <if test="pageIcon != null">
        page_icon,
      </if>
      <if test="num != null">
        num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uiPageId != null">
        #{uiPageId,jdbcType=INTEGER},
      </if>
      <if test="uiCode != null">
        #{uiCode,jdbcType=VARCHAR},
      </if>
      <if test="pageName != null">
        #{pageName,jdbcType=VARCHAR},
      </if>
      <if test="pageCode != null">
        #{pageCode,jdbcType=VARCHAR},
      </if>
      <if test="pagePath != null">
        #{pagePath,jdbcType=VARCHAR},
      </if>
      <if test="pageIcon != null">
        #{pageIcon,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective">
    update o_ui_page
    <set>
      <if test="pageName != null">
        page_name = #{pageName,jdbcType=VARCHAR},
      </if>
      <if test="pagePath != null">
        page_path = #{pagePath,jdbcType=VARCHAR},
      </if>
      <if test="pageIcon != null">
        page_icon = #{pageIcon,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
    </set>
    where ui_page_id = #{uiPageId,jdbcType=INTEGER}
  </update>
  
  <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2020-08-11 20:28:15 ### -->

  <!-- Your codes goes here!!! -->
  <select id="selectUiPageList" parameterType="com.nodecollege.cloud.common.model.po.OperateUiPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from o_ui_page
    <where>
      <if test="uiCode != null">
        and ui_code = #{uiCode,jdbcType=VARCHAR}
      </if>
      <if test="pageName != null">
        and page_name = #{pageName,jdbcType=VARCHAR}
      </if>
      <if test="pageCode != null">
        and page_code = #{pageCode,jdbcType=VARCHAR}
      </if>
      <if test="pagePath != null">
        and page_path = #{pagePath,jdbcType=VARCHAR}
      </if>
    </where>
    order by num
  </select>
</mapper>