<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nodecollege.cloud.dao.mapper.OperateAdminPasswordMapper">
  <resultMap id="BaseResultMap" type="com.nodecollege.cloud.common.model.po.OperateAdminPassword">
    <id column="admin_pwd_id" jdbcType="BIGINT" property="adminPwdId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="admin_id" jdbcType="BIGINT" property="adminId" />
  </resultMap>
  <sql id="Base_Column_List">
    admin_pwd_id, password, salt, create_time, admin_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from o_admin_password
    where admin_pwd_id = #{adminPwdId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from o_admin_password
    where admin_pwd_id = #{adminPwdId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.nodecollege.cloud.common.model.po.OperateAdminPassword" keyProperty="adminPwdId">
    insert into o_admin_password (admin_pwd_id, password, salt,
      create_time, admin_id)
    values (#{adminPwdId,jdbcType=BIGINT}, #{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{adminId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.nodecollege.cloud.common.model.po.OperateAdminPassword" keyProperty="adminPwdId">
    insert into o_admin_password
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminPwdId != null">
        admin_pwd_id,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminPwdId != null">
        #{adminPwdId,jdbcType=BIGINT},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective">
    update o_admin_password
    <set>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=BIGINT},
      </if>
    </set>
    where admin_pwd_id = #{adminPwdId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey">
    update o_admin_password
    set password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      admin_id = #{adminId,jdbcType=BIGINT}
    where admin_pwd_id = #{adminPwdId,jdbcType=BIGINT}
  </update>
  
  <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2019-12-01 15:08:23 ### -->



  <!-- Your codes goes here!!! -->
  <!-- 根据管理员id查询密码列表，根据时间倒叙排序 -->
  <select id="selectListByAdminId"  parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from o_admin_password
    where admin_id = #{adminId,jdbcType=BIGINT}
    order by create_time desc
  </select>


</mapper>