<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nodecollege.cloud.dao.mapper.TenantRoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.nodecollege.cloud.common.model.po.TenantRoleMenu">
    <!-- 主键 -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <!-- 租户id -->
    <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
    <!-- 菜单类型：0-不生成导航菜单，1-pc端导航，2-移动端导航 -->
    <result column="nav_platform" jdbcType="TINYINT" property="navPlatform" />
    <!-- 角色代码 -->
    <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
    <!-- 菜单代码 -->
    <result column="menu_code" jdbcType="VARCHAR" property="menuCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tenant_id, nav_platform, role_code, menu_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_role_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_role_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.nodecollege.cloud.common.model.po.TenantRoleMenu" useGeneratedKeys="true">
    insert into t_role_menu (id, tenant_id, nav_platform, role_code, menu_code)
    values (#{id,jdbcType=INTEGER}, #{tenantId,jdbcType=BIGINT}, #{navPlatform,jdbcType=TINYINT}, #{roleCode,jdbcType=VARCHAR}, #{menuCode,jdbcType=VARCHAR})
  </insert>
  
  <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2020-10-15 21:57:03 ### -->



  <!-- Your codes goes here!!! -->
  <select id="selectListByMap" parameterType="java.util.HashMap"
          resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_role_menu
    <where>
      <if test="tenantId != null">
        and tenant_id = #{tenantId,jdbcType=BIGINT}
      </if>
      <if test="navPlatform != null">
        and nav_platform = #{navPlatform,jdbcType=INTEGER}
      </if>
      <if test="roleCode != null and roleCode != ''">
        and role_code = #{roleCode,jdbcType=VARCHAR}
      </if>
      <choose>
        <when test="stringList!=null and stringList.size>0">
          and role_code in
          <foreach item="_itemType" collection="stringList" open="(" separator="," close=")">
            #{_itemType,jdbcType=VARCHAR}
          </foreach>
        </when>
      </choose>
    </where>
  </select>
</mapper>